.body {  
    font-family: 'Roboto', sans-serif;
    max-width: 700px;
    margin: 0 auto;
    padding: 0 20px;
    overflow: auto;
    background-image: url("https://i.postimg.cc/cJ10QG4p/360-F-91352287-n-QJHD0p-Ot-X7wt-Lx-Iu-JFT8-LKPq08-LLqxy.jpg");
    background-size: cover;
}